:root {
	--main-green-color-dark: #1e372d;
	--main-green-color-mid: #1F4533;
	--main-green-color-light: #306048;
	--main-sand-color: #d1ac77;
}
footer,
header{
	background: var(--main-green-color-mid);
	background: -moz-linear-gradient(90deg, var(--main-green-color-light) 0%, var(--main-green-color-dark) 100%);
	background: -webkit-linear-gradient(90deg, var(--main-green-color-light) 0%, var(--main-green-color-dark) 100%);
	background: linear-gradient(90deg, var(--main-green-color-light) 0%, var(--main-green-color-dark) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#204533",endColorstr="#1e372d",GradientType=1);
	
}
header .logo{
	padding: 1%;
	padding-left: 10%;
	padding-right: 10%;
}

.nav-item{
	margin-left: 5px;
	margin-right: 5px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 1px;
	transition: 0.5s;
}
.nav-item:hover{
	background-color: #fff;
	border-radius: 5px;
}
.navbar-brand{
	background: var(--main-green-color-light);
	border-radius: 50%;
	margin: 0;
	padding: 0px;
	transition: 0.5s;
}
.navbar-brand:hover{
	background: var(--main-green-color-mid);
	-webkit-box-shadow: 0px 0px 15px 4px rgba(34, 60, 80, 0.2) !important;
	-moz-box-shadow: 0px 0px 15px 4px rgba(34, 60, 80, 0.2) !important;
	box-shadow: 0px 0px 15px 4px rgba(34, 60, 80, 0.2) !important;
}
.navbar-brand:active{
	background: var(--main-green-color-light) !important; 
}
.nav-link{
	font-weight: 600;
}
nav .navbar-nav li a{
	color: var(--main-green-color-dark) !important;
}

a.disabled_butt{
	cursor: pointer;
}
.navbar{
	border-top: 4px solid var(--main-sand-color);
	background-color: #f1ecdc;
}
.navbar .dropdown-menu .dropdown-item{
	transition: 0.5s;
}

.navbar .dropdown-menu .dropdown-item:active{
	background-color: #f1ecdc!important;
}
.navbar .dropdown-menu .dropdown-item:hover{
	background-color: #f1ecdc!important;
}
.navbar .dropdown-menu .dropdown-item:focus{
	background-color: #fff!important;
}
nav.navbar .dropdown:hover > .dropdown-menu {
	display: block; 
	right: auto; 
	left: 0;
}
.navbar-light .navbar-toggler {
	width: 41px;
	height: 41px;
	color: var(--main-green-color-dark);
	border: none;
}
.navbar-light .navbar-toggler:focus{
	border: none;
	box-shadow: none;
}
.navbar-toggler{
	transition: 0.5s;
}
.navbar-toggler>.close-nav {
	display:inline;
	
}
.navbar-toggler.collapsed>.close-nav, .navbar-toggler:not(.collapsed)>.open-nav {
	display:none;
}
.navbar-btn{
	transition: 0.5s;
	color: var(--main-sand-color);
	background: var(--main-green-color-light); 
	font-weight: bold;
	font-size: 1.1rem;
	border: var(--main-green-color-light); 
	min-width: 160px;
	min-height: 41px;
	max-width: 160px;
	max-height: 41px;
}
.navbar-btn:hover,
.navbar-btn:focus,
.navbar-btn:active{
	color: var(--main-sand-color);
	-webkit-box-shadow: 0px 0px 15px 4px rgba(34, 60, 80, 0.2) !important;
	-moz-box-shadow: 0px 0px 15px 4px rgba(34, 60, 80, 0.2) !important;
	box-shadow: 0px 0px 15px 4px rgba(34, 60, 80, 0.2) !important;
	background-color: var(--main-green-color-mid);
}
.navbar-btn:active{
	background: var(--main-green-color-light) !important; 
}
.fake_nav{
	width: 119px;
	height: 41px;
}

.page-link.page-next-link{
	margin-right: 10px !important;
	margin-left: 10px !important;
	border-radius: .25em;
}

.page-ellipsis-link{
	color: var(--main-green-color-dark);
	background: white !important;
}
.page-link{
	padding: .4rem .75rem;
	transition: 0.5s;
	border: 1px solid var(--main-green-color-light) !important;
	background: #f1ecdc !important;
	color: var(--main-green-color-dark);
}
.page-link:hover,
.page-link:focus,
.page-link:active{
	background: var(--main-green-color-mid) !important;
	-webkit-box-shadow: 0px 0px 15px 4px rgba(34, 60, 80, 0.2) !important;
	-moz-box-shadow: 0px 0px 15px 4px rgba(34, 60, 80, 0.2) !important;
	box-shadow: 0px 0px 15px 4px rgba(34, 60, 80, 0.2) !important;
	color: var(--main-sand-color);
}
.page-link:active{
	background: var(--main-green-color-light) !important; 
}

.disabled .page-link{
	color: var(--main-sand-color) !important;
	background: var(--main-green-color-light) !important; 
}
.disabled .page-ellipsis-link{
	color: var(--main-green-color-light) !important;
	background: #f1ecdc !important;
}
footer {
	border-top: 4px solid var(--main-sand-color);
	color: var(--main-sand-color);
}
.menu-foot p{
	margin: 0!important;
	text-decoration: none;
}
.menu-foot a{
	text-decoration: none;
}
.logo-foot{
	max-width: 400px;
}
footer .soсial-net .fa-vk,
footer .soсial-net .fa-instagram{
	color: var(--main-sand-color);
	font-size: 2rem;
}
@media (max-width: 575px) {
	.navbar-nav .dropdown-toggle .caret {
		display: none;
	}
	.navbar-nav .dropdown-menu {
		display: block;
	}
	.navbar-nav .dropdown > a {
		outline: 0;
	}
	.navbar-nav .dropdown-menu {
		position: static;
		float: none;
		width: auto;
		margin-top: 0px;
		background-color: transparent;
		border: 0;
		transition: 0.5s;
		-webkit-box-shadow: none;
				box-shadow: none;
	}
	.navbar-nav{
		margin-top: 10px;
		max-height: 400px;
		flex-wrap: nowrap !important;
	}
	.navbar-brand{
		margin: auto;
	}
	.navbar-btn{
		margin-top: 10px;
	}
	.fake_nav{
		width: 41px;
		height: 41px;
	}
	.navbar-collapse{
		max-height: 500px;
	}
}
