
@font-face {
	font-family: 'balkara';
	src: url(/static/fonts/BalkaraFreeCondensed.ttf);
	font-weight: normal;
	font-style: normal;
}
:root {
	--main-green-color-dark: #1e372d;
	--main-green-color-mid: #1F4533;
	--main-green-color-light: #306048;
	--main-sand-color: #d1ac77;
}
footer,
.logo {
	background: var(--main-green-color-mid);
	background: -moz-linear-gradient(90deg, var(--main-green-color-light) 0%, var(--main-green-color-dark) 100%);
	background: -webkit-linear-gradient(90deg, var(--main-green-color-light) 0%, var(--main-green-color-dark) 100%);
	background: linear-gradient(90deg, var(--main-green-color-light) 0%, var(--main-green-color-dark) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#204533",endColorstr="#1e372d",GradientType=1);
}
.logo .container {
	padding: 1%;
	padding-left: 10%;
	padding-right: 10%;
}
header {
	position: sticky;
	z-index: 5;
	top: -4px;
}
.btn-return {
	display: inline-block;
	background-color: var(--main-green-color-light);
	width: 50px !important;
	height: 50px !important;
	border-radius: 50%;
	text-align: center;
	color: var(--main-sand-color);
	position: fixed;
	bottom: 30px;
	right: 30px;
	transition: background-color .3s,
		opacity .5s, visibility .5s;
	z-index: 1000;
	opacity: 0;
}
.btn-return:focus,
.btn-return:active,
.btn-return:hover {
	background-color: var(--main-green-color-mid);
	color: var(--main-sand-color);
}
.btn-return::before {
	content: "\f077";
	font-family: FontAwesome;
	font-weight: bold;
	font-size: 30px;
	text-align: center;

	font-style: normal;
	display: inline-block;
	line-height: 50px;
}
#navbar {
	transition: all .3s ease;
}
.main-container {
	max-width: 1140px;
}
.nav-item {
	margin-left: 10px;
	transition: 0.5s;
}
.nav-link {
	font-weight: 600;
	padding-left: 18px !important;
	padding-right: 18px !important;
}
.nav-link:focus,
.nav-link:active,
.nav-link:hover {
	background-color: #fff;
	border-radius: 5px;
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	box-shadow: none !important;
}
.nav-link.show {
	background-color: #fff;
	border-radius: 5px;
}
.navbar-brand {
	background: var(--main-green-color-light);
	border-radius: 50%;
	margin-right: 20px;
	padding: 0px;
	transition: 0.5s;
}
.navbar-brand:focus,
.navbar-brand:active,
.navbar-brand:hover {
	background: var(--main-green-color-mid);
	-webkit-box-shadow: 0px 0px 15px 4px rgba(34, 60, 80, 0.2) !important;
	-moz-box-shadow: 0px 0px 15px 4px rgba(34, 60, 80, 0.2) !important;
	box-shadow: 0px 0px 15px 4px rgba(34, 60, 80, 0.2) !important;
}
.navbar-brand:active {
	background: var(--main-green-color-light) !important;
}
nav .navbar-nav li a:not(.btn-donate) {
	color: var(--main-green-color-dark) !important;
}
a.disabled_butt {
	cursor: pointer;
}
.navbar {
	border-top: 4px solid var(--main-sand-color);
	background-color: #f1ecdc;
	box-shadow: 0px 3px 0px #33333333;
}
.navbar .dropdown-menu {
	top: 100%;
	margin-top: 0;
}
.navbar .dropdown-menu .dropdown-item {
	transition: 0.5s;
}
.navbar .dropdown-menu .dropdown-item:active,
.navbar .dropdown-menu .dropdown-item:hover,
.navbar .dropdown-menu .dropdown-item:focus {
	background-color: #f1ecdc;
}
nav.navbar .dropdown:hover > .dropdown-menu {
	display: block;
	right: auto;
	left: 0;
}
.navbar-light .navbar-toggler {
	width: 41px;
	height: 41px;
	color: var(--main-green-color-dark);
	border: none;
}
.navbar-light .navbar-toggler:focus {
	border: none;
	box-shadow: none;
}
.navbar-toggler {
	transition: 0.5s;
}
.navbar-toggler>.close-nav {
	display:inline;
}
.navbar-toggler.collapsed>.close-nav, .navbar-toggler:not(.collapsed)>.open-nav {
	display:none;
}
.btn-donate {
	transition: 0.5s;
	color: var(--main-sand-color);
	background: var(--main-green-color-light);
	color: var(--main-sand-color) !important;
	border-radius: 5px;
	font-weight: 700;
	margin-left: 20px ;
	display: block;
}
.btn-donate:hover,
.btn-donate:focus,
.btn-donate:active {
	-webkit-box-shadow: 0px 0px 15px 4px rgba(34, 60, 80, 0.2) !important;
	-moz-box-shadow: 0px 0px 15px 4px rgba(34, 60, 80, 0.2) !important;
	box-shadow: 0px 0px 15px 4px rgba(34, 60, 80, 0.2) !important;
	background-color: var(--main-green-color-mid);
}
.page-link.page-next-link {
	margin-right: 10px !important;
	margin-left: 10px !important;
	border-radius: .25em;
}
.page-ellipsis-link {
	color: var(--main-green-color-dark);
	background: white !important;
}
.page-link {
	padding: .4rem .75rem;
	transition: 0.5s;
	border: 1px solid var(--main-green-color-light) !important;
	background: #f1ecdc !important;
	color: var(--main-green-color-dark);
}
.page-link:hover,
.page-link:focus,
.page-link:active {
	background: var(--main-green-color-mid) !important;
	-webkit-box-shadow: 0px 0px 15px 4px rgba(34, 60, 80, 0.2) !important;
	-moz-box-shadow: 0px 0px 15px 4px rgba(34, 60, 80, 0.2) !important;
	box-shadow: 0px 0px 15px 4px rgba(34, 60, 80, 0.2) !important;
	color: var(--main-sand-color);
}
.page-link:active {
	background: var(--main-green-color-light) !important;
}
.disabled .page-link {
	color: var(--main-sand-color) !important;
	background: var(--main-green-color-light) !important;
}
.disabled .page-ellipsis-link {
	color: var(--main-green-color-light) !important;
	background: #f1ecdc !important;
}
footer {
	border-top: 4px solid var(--main-sand-color);
	color: var(--main-sand-color);
}
.menu-foot p {
	margin: 0!important;
	text-decoration: none;
}
.menu-foot a {
	text-decoration: none;
}
.logo-foot {
	max-width: 400px;
}

.title-category .soсial-net {
	color: #E8D1B1 !important;
}
footer .soсial-net .fa-youtube,
footer .soсial-net .fa-vk,
footer .soсial-net .fa-instagram {
	color: var(--main-sand-color);
	font-size: 2rem;
}
.rubrics {
	margin-left: 1%;
}
.btn-rubric {
	border-radius: 15px;
	display: inline-block;
	line-height: 30px;
	text-align: center;
	padding: 0 .75rem;
	transition: 0.5s;
	border: 1px solid var(--main-green-color-light) !important;
	background: #f1ecdc !important;
	color: var(--main-green-color-dark);
	text-decoration: none;
	white-space: nowrap;
}
.btn-rubric:hover,
.btn-rubric:focus,
.btn-rubric:active {
	background: var(--main-green-color-light) !important;
	-webkit-box-shadow: 0px 0px 15px 4px rgba(34, 60, 80, 0.2) !important;
	-moz-box-shadow: 0px 0px 15px 4px rgba(34, 60, 80, 0.2) !important;
	box-shadow: 0px 0px 15px 4px rgba(34, 60, 80, 0.2) !important;
	color: var(--main-sand-color);
}
.btn-rubric:not(.disabled):hover {
	-webkit-box-shadow: 0px 0px 15px 4px rgba(34, 60, 80, 0.2) !important;
	-moz-box-shadow: 0px 0px 15px 4px rgba(34, 60, 80, 0.2) !important;
	box-shadow: 0px 0px 15px 4px rgba(34, 60, 80, 0.2) !important;
}
.btn-rubric.disabled {
	color: var(--main-sand-color) !important;
	background: var(--main-green-color-light) !important;
	cursor: default;
	opacity: 1;
}
.content-container {
	background: #f4f2ec !important;
	padding-bottom: 50px;
}
.title-category {
	background-color:	var(--main-green-color-light);
	padding: 12px 30px;
	border-radius: 8px 8px 0px 0px;
}
.title-category p {
	font-family: 'balkara', 'Times New Roman', Times, serif;
	margin: 0px;
	color: #E8D1B1 !important;
}

.title-category h1 {
	font-family: 'balkara', 'Times New Roman', Times, serif;
	margin: 0px;
	color: #E8D1B1 !important;
	line-height: var(--bs-body-line-height);
}
article {
	background-color: white;
	border-radius: 0px 0px 8px 8px;
}
article .post-caption {
	font-family: Proxima Nova,Arial,Helvetica Neue,sans-serif;
	font-weight: 1000;
}
.breadcrumb {
	padding-top: 15px !important;
	padding-bottom: 15px;
	padding-left: 10px;
	padding-right: 10px;
	margin: 0px !important;
	white-space: nowrap;
}
.breadcrumb-item span {
	color: var(--main-green-color-dark);
}
.breadcrumb-item a {
	padding: 3px 7px;
	background: #f1ecdc !important;
	border-radius: .25em;
	color: var(--main-green-color-dark);
	text-decoration: none;
}
.breadcrumb-item a:hover,
.breadcrumb-item a:focus,
.breadcrumb-item a:active {
	background: var(--main-green-color-light) !important;
	-webkit-box-shadow: 0px 0px 15px 4px rgba(34, 60, 80, 0.2) !important;
	-moz-box-shadow: 0px 0px 15px 4px rgba(34, 60, 80, 0.2) !important;
	box-shadow: 0px 0px 15px 4px rgba(34, 60, 80, 0.2) !important;
	color: var(--main-sand-color);
	transition: 0.5s;
}
.breadcrumb-item a:active {
	background: var(--main-green-color-mid) !important;
}
.cards {
	min-height: 150px;
	border-radius: 8px;
	position: relative;
	z-index: 0;
	transition: 0.5s;
	overflow:hidden;
	border: 1px solid var(--main-green-color-mid) !important;
	margin: 0;
}
.cards:hover,
.cards:focus,
.cards:active {
	-webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
	-moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
	box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}
.cards:hover .wrapper {
	opacity: 0.75;
	transform: scale(1.05);
}
.cards .col:hover,
.cards .col:focus {
	background: #f4f2ec;
}
.wrapper {
	opacity: 1;
	transition: opacity 124ms linear, transform 124ms linear;  /* Плавное изменение прозрачности и увеличения */
	height: auto;
	display: block;
	min-height: 200px;
	width: 35%;
}
.exmp2 {
	background-repeat: no-repeat;
	background-position: 50%;
	background-size: cover;
}
.cards .col{
	display: flex;
	flex-flow: column nowrap;
}
.cards .rubric {
	color: var(--main-green-color-light)	;
}
.cards a.title {
	font-weight: 600;
	text-decoration: none;
	color: #000;
}
.cards .descrip {
	margin-bottom: auto;
}
.cards .pub {
	margin-bottom: 0px;
	margin-top: 0.5rem;
	color: grey;
}
.paginator.min {
	display: none;
}
.paginator .container {
	padding: auto;
}
.paginator {
	height: 2em;
	position: relative
}
.paginator ul {
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%)
}
blockquote {
	background: #f4f2ec;
	border-radius: 12px;
	position: relative;
	padding: 16px 5% 5px 5%;
	margin: 20px 5%;
	font-size: 16px;
	text-align: center;
}
blockquote:before,
blockquote:after {
	position: absolute;
	color: var(--main-green-color-light);
	font-size: 100px;
	font-family: 'balkara', 'Times New Roman', Times, serif;
	line-height: 100px;
}
blockquote:before {
	content: '“';
	left: -30px;
	top: -15px;
}
blockquote:after {
	content: '”';
	right: -30px;
	bottom: -85px;
}
#lz-box p {
	margin: auto;
	display: block;
	width: 90%;
	max-width: 700px;
	text-align: center;
	height: 150px;
	white-space:normal;
	padding-top: 1px;
	padding-bottom: 4px;
	font-size: 1rem;
	line-height: 1rem;
}
.post-content figure {
	margin: 1rem auto;
	max-width: 750px;
	overflow: hidden;
	position: relative;
}
.post-content img{
	width: 100%;
	max-width: 750px;
	height: auto;
	position: relative;
	z-index: 1;
	border-radius: 5px;
	margin: auto;
}
.post-content figure figcaption{
	margin: auto;
	display: block;
	width: 90%;
	text-align: center;
	padding-top: 1px;
	padding-bottom: 4px;
	color: #666;
	font-size: 1rem;
	line-height: 1rem;
}
.post-content .share,
.post-content .autor,
.post-content .time{
	font-size: 15px;
	color: var(--main-green-color-light);
	font-weight: 700;
	white-space: nowrap;
}
.text-justify {
	text-align: justify;
}
.post-content .title{
	font-weight: 700;
}
.post-content .title-article{
	font-weight: 700;
}
.post-content .cover{
	background: #f4f2ec;
	border-radius: 10px;
}
.post-content .cover a{
	display:inline-block;
	max-width: 750px;
}
.post-content .cover img{
	border-radius: 5px;
}
.post-content a{
	color: #bb9055;
}
.video-container{
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px;
	height: 0;
	overflow: hidden;
}
.post-content .video-container iframe{
	position: absolute;
	top: 0;
	left: 0;
	width: 100% !important;
	height: 100% !important;
}
.post-content ul{
	padding-left: 3%;
}
.post-content .video-wrapper{
	margin: auto;
	width: 900px;
	max-width: 100%;
}
.container .timetable .day{
	color: var(--main-green-color-light);
}
.container .timetable .holiday{
	border-bottom: 2px solid var(--main-green-color-light) !important;
}
.container .timetable .info{
	border-bottom: 1px solid var(--main-green-color-light) !important;
}
.btn.previous-week,
.btn.next-week{
	font-weight: 600;
	background: #f1ecdc;
	color: var(--main-green-color-light);
	border: 1px solid var(--main-green-color-light) !important;
}
.btn.previous-week:hover,
.btn.previous-week:focus,
.btn.previous-week:active,
.btn.next-week:hover,
.btn.next-week:focus,
.btn.next-week:active{
	background: var(--main-green-color-light) !important;
	-webkit-box-shadow: 0px 0px 15px 4px rgba(34, 60, 80, 0.2) !important;
	-moz-box-shadow: 0px 0px 15px 4px rgba(34, 60, 80, 0.2) !important;
	box-shadow: 0px 0px 15px 4px rgba(34, 60, 80, 0.2) !important;
	color: var(--main-sand-color);
	transition: 0.5s;
}
.ya-donate{
	max-width: 600px;
	margin: auto;
	text-align: center;
}
.img-carousel{
	width: 100%;
	height: 600px;
}
.img-carousel img {
	object-fit: cover;
	width: 100%;
	height: 100%;
}
.carousel-caption{
	margin: auto;
	max-width: 1140px;
	border-radius: 5px;
	background-color: #00000050;
}
.carousel-caption .h1{
	font-weight: 600;
}
.carousel-caption .h1 p{
	margin-bottom: .5rem;
}
.btn-carousel{
	transition: 0.5s;
	color: var(--main-sand-color);
	background: var(--main-green-color-light);
	color: var(--main-sand-color) !important;
	border-radius: 5px;
	font-weight: 700;
}
.btn-carousel:hover,
.btn-carousel:focus,
.btn-carousel:active{
	-webkit-box-shadow: 0px 0px 15px 4px rgba(34, 60, 80, 0.2) !important;
	-moz-box-shadow: 0px 0px 15px 4px rgba(34, 60, 80, 0.2) !important;
	box-shadow: 0px 0px 15px 4px rgba(34, 60, 80, 0.2) !important;
	background-color: var(--main-green-color-mid);
}
.carousel-control-prev-icon{
	width: 80px;
	height: 80px;
}
.carousel-control-next-icon{
	width: 80px;
	height: 80px;
}
.main-content .main-home .day{
	border-bottom: 2px solid var(--main-green-color-light) !important;
}
.main-content .main-home .day-week{
	color: var(--main-green-color-light);
}
.main-content .main-home .info{
	border-bottom: 1px solid var(--main-green-color-light) !important;
}
.main-content .main-home .header{
	font-family: 'balkara', 'Times New Roman', Times, serif;
	color: var(--main-green-color-light);
}
.main-content .main-home .img-timetable{
	margin: auto;
	max-height: 200px;
}
.main-content .main-home .img-timetable img {
	object-fit: cover;
	width: 100%;
	max-height: 200px;
	border-radius: 8px;
}
.main-content .home-timetable{
	border-left: 1px solid var(--main-green-color-light);
}

@media (max-width: 575.98px){
	.img-carousel{
		width: 100%;
		height: 200px;
	}
}

@media (min-width: 576px) and (max-width: 767.98px){
	.img-carousel{
		width: 100%;
		height: 230px;
	}
}

@media (min-width: 768px) and (max-width: 991.98px){
	.img-carousel{
		width: 100%;
		height: 300px;
	}
}

@media (min-width: 992px) and (max-width: 1199.98px){
	.img-carousel{
		width: 100%;
		height: 380px;
	}
}

@media (min-width: 1200px) and (max-width: 1399.98px){
	.img-carousel{
		width: 100%;
		height: 450px;
	}
}

@media (max-width:767.98px) {
	.nav-link{
		text-align: left;
	}
	.nav-link.disabled_butt{
		cursor: default !important;
	}
	.nav-link.disabled_butt.show,
	.nav-link.disabled_butt:hover,
	.nav-link.disabled_butt:focus,
	.nav-link.disabled_butt:active{
		background: none;
	}
	.btn-donate:hover,
	.btn-donate:focus,
	.btn-donate:active{
		background: var(--main-green-color-mid);
	}
	.navbar-nav .dropdown-toggle .caret {
		display: none;
	}
	.navbar-nav .dropdown-menu {
		display: block;
		padding: 0;
		padding-left: 2rem !important;
		padding-right: 2rem !important;
	}
	.navbar-nav .dropdown > a {
		outline: 0;
	}
	.navbar-nav .dropdown-menu {
		position: static;
		float: none;
		width: auto;
		margin-top: 0px;
		background-color: #f1ecdc;
		border: 0;
		transition: 0.5s;
		-webkit-box-shadow: none;
				box-shadow: none;
	}
	.navbar-nav{
		margin-top: 10px;
		max-height: 400px;
		flex-wrap: nowrap !important;
	}
	.nav-item{
		margin-left: 0px;
	}
	.dropdown-item:hover,
	.dropdown-item:focus,
	.dropdown-item:active{
		background: #fff !important;
	}
	.navbar-brand{
		margin: auto;
	}
	.btn-donate{
		margin: 18px 10px 10px 10px ;
		text-align: center;
	}
	#fake-nav{
		width: 41px;
	}
	.navbar-collapse{
		max-height: 500px;
	}
	.wrapper {
		width: 100%;
		padding-top: 66.66%;

	}
	.paginator.max{
		display: none;
	}
	.paginator.min{
		display: block;
	}
	.carousel-control-prev-icon{
		width: 40px;
		height: 40px;
	}
	.carousel-control-next-icon{
		width: 40px;
		height: 40px;
	}
	.main-content .home-timetable{
		border: none;
	}
	.post-content .ya-share2__list{
		margin-top: 10px !important;
		padding-left: 0%;
	}
}
