{% extends "layout/basic.html" %}
{% load static %}
{% block title %}Главная{% endblock %}

{% block title_category %}


<div class="d-flex">
	<div class="bd-highlight me-auto " ><h1 style="font-size:calc(1.375rem + 1.5vw);">Главная</h1></div>
	<div class="align-self-center justify-content-end ms-4"><a href="https://www.youtube.com/channel/UCWWQiBcgSvckek7dZjTYBcw" target="_blank"><i class="fab fa-youtube soсial-net" style="font-size:calc(1.375rem + 1.5vw);"></i></a></div>
	<div class="align-self-center justify-content-end ms-4"><a href="https://vk.com/schoolgorlitsa" target="_blank"><i class="fab fa-vk soсial-net" style="font-size:calc(1.375rem + 1.5vw);"></i></a></div>
	<div class="align-self-center justify-content-end ms-4"><a href="https://www.instagram.com/ryzhevohram/" target="_blank"><i class="fab fa-instagram soсial-net" style="font-size:calc(1.375rem + 1.5vw);"></i></a></div>
</div>

{% endblock %}

{% block carousel %}

	{% load fb_versions %}
	{% load static %}
	<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
		<div class="carousel-inner">
			{% for car in carousel %}
			{% if car.position == 0 %}
			<div class="carousel-item active">
			{% else %}
			<div class="carousel-item">
			{% endif %}
				<div class="img-carousel">
					<img src="{% version car.image "carousel" %}" class="d-block w-100" alt="{{ car.title|striptags }}">
				</div>
				<div class="carousel-caption p-2">
					<div class="h1">{{ car.title|safe }}</div>
					{% if car.button %}
						<a class="btn btn-carousel" href="{{ car.url }}">Подробнее</a>
					{% endif %}
				</div>
			</div>
			{% endfor %}

		</div>
		{% if carousel.count > 1%}
		<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"  data-bs-slide="prev">
			<span class="carousel-control-prev-icon" aria-hidden="true"></span>
			<span class="visually-hidden">Предыдущий</span>
		</button>
		<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"  data-bs-slide="next">
			<span class="carousel-control-next-icon" aria-hidden="true"></span>
			<span class="visually-hidden">Следующий</span>
		</button>
		{% endif %}
	</div>
{% endblock %}

{% block content %}
<div class="row main-home">
	<div class="home-news mt-1 col-12 col-md-8 order-2 order-md-1 pe-md-5 ">
		<div class="header col-12 text-start mt-2 mt-md-0"><p class="fw-bold h1">Новости Обители</p></div>
		<div class='post-content'>
			{% for article in news %}
				<div class="cards row mb-2">
					{% if article.image %}
					{% load fb_versions %}
					<div class="wrapper exmp2 col-2 " style="background-image: url('{% version article.image "cover" %}');"></div>
					{% endif %}
					<div class="col ps-3 pe-2 py-2 pt-md-2 ">
						<div>
						<h5 class="rubric">{{ article.rubric }}</h5>
						<h3 class="title"><a class="title stretched-link" href="{% url 'articles:detail_article' article.rubric.slug article.slug  %}">{{ article.title }}</a></h3>
						<p class="descrip lh-sm">{{ article.description }}</p>
						</div>
						<div class="mt-auto">
						<p class="pub">  </p>
						</div>
					</div>
				</div>
			{% empty %}
			<div class="row ">
				<div class="col text-center fw-bold fs-4 mb-3 mt-2 ">
					В этой категории нет статей
				</div>
			</div>
			{% endfor %}
		</div>
		<div class="col-12 text-center pt-1">
			<a class="btn btn-carousel" href="/novosti-obiteli/">Все новости</a>
		</div>
	</div>

	<div class="home-timetable mt-1 col-12 col-md-4 order-1 order-md-2 ps-md-5">
		<div class="row mb-3 mb-md-0">
			<div class="header col-12 text-start"><p class="fw-bold mb-0 h1">Расписание</p><span class="fw-bold mb-0 h3">Богослужений</span></div>
			<div class="img-timetable mt-2">
				<img src="{% static 'main/timetable.jpg' %}" alt="Рассписание">
			</div>
			<div class="col-12 my-2">
				<div class="day-week col-12 text-center fw-bold fs-4">
					Сегодня
				</div>
				<div class="day col-12 text-center fw-bold fs-5" >
					{{ day_now|date:"l, j E" }}
				</div>
				{% for timetable in timetable_now %}
				<div class="row info pt-3 pb-3 mx-0">
					<div class="time col-6 text-center fw-bold">
						{{ timetable.time }}
					</div>
					<div class="service col-6 text-center fw-bold">
						{{ timetable.service }}
					</div>
				</div>
				{% empty %}
					<div class="info col-12 text-center fw-bold pt-3 pb-3">
						Нет богослужений
					</div>
				{% endfor %}
			</div>
			<div class="col-12">
				<div class="day-week col-12 text-center fw-bold fs-4">
					Завтра
				</div>
				<div class="day col-12 text-center fw-bold fs-5">
					{{ day_tomorrow|date:"l, j E" }}
				</div>
				{% for timetable in timetable_tomorrow %}
				<div class="row info pt-3 pb-3 mx-0">
					<div class="time col-6 text-center fw-bold">
						{{ timetable.time }}
					</div>
					<div class="service col-6 text-center fw-bold">
						{{ timetable.service }}
					</div>
				</div>
				{% empty %}
					<div class="info col-12 text-center fw-bold pt-3 pb-3">
						Нет богослужений
					</div>
				{% endfor %}
			</div>
			<div class="col-12 text-center pt-3">
				<a class="btn btn-carousel" href="/worship/timetable/">Подробнее</a>
			</div>
		</div>
	</div>

</div>


{% endblock %}


