{% extends "layout/basic.html" %}

{% block title %}ОШИБКА 500{% endblock %}
{% block description %}ОШИБКА 500 - ошибка сервера{% endblock %}

{% block og_title %}ОШИБКА 500{% endblock %}
{% block og_type %}website{% endblock %}
{% block og_description %}ОШИБКА 500 - ошибка сервера{% endblock %}
{% block twitter_title %}ОШИБКА 500{% endblock %}
{% block twitter_description %}ОШИБКА 500 - ошибка сервера{% endblock %}

{% block title_category %}{{ block.super }}ОШИБКА 500{% endblock %}
{% block breadcrumbs %}{% endblock %}
{% block content %}
<h1 class="text-center my-5"><strong>Ошибка сервера, обновите страницу</strong></h1>
<div class="col-12 text-center my-2">
	<a class="btn btn-carousel btn-lg mx-3" href="/">Главная страница</a><a class="btn btn-carousel btn-lg my-3" href="/">Пожертвовать</a>
</div>
{% endblock %}

