{% extends "layout/basic.html" %}
{% load fb_versions %}

{% block title %}{{ article.title }}{% endblock %}
{% block description %}{% if article.description %}{{ article.description|striptags|truncatechars:150 }}{% else %}{{ article.content|striptags|truncatechars:150 }}{% endif %}{% endblock %}

{% block og_title %}{{ article.title }}{% endblock %}
{% block og_type %}article{% endblock %}
{% block og_description %}{% if article.description %}{{ article.description|striptags|truncatechars:200 }}{% else %}{{ article.content|striptags|truncatechars:200 }}{% endif %}{% endblock %}
{% block twitter_title %}{{ article.title }}{% endblock %}
{% block twitter_description %}{% if article.description %}{{ article.description|striptags|truncatechars:160 }}{% else %}{{ article.content|striptags|truncatechars:160 }}{% endif %}{% endblock %}
{% block og_image %}{% if article.image %}{% version article.image "open_graph" %}{% else %}{{ block.super }}{% endif %}{% endblock %}
{% block twitter_image %}{% if article.image %}{% version article.image "open_graph" %}{% else %}{{ block.super }}{% endif %}{% endblock %}
{% block vk_image %}{% if article.image %}{% version article.image "open_graph_vk" %}{% else %}{{ block.super }}{% endif %}{% endblock %}
{% block og_article %}
	<meta property="article:published_time" content="{{ article.published }}"/>
	<meta property="article:modified_time" content="{{ article.edit_date }}"/>
	<meta property="article:section" content="{{ article.rubric }}"/>
{% endblock og_article %}
{% block title_category %}{{ block.super }}{{ article.rubric }}{% endblock %}
{% block breadcrumbs %}{{ block.super }}
	<li class="breadcrumb-item"><a href= {% url 'articles:rubric_articles' article.rubric.slug %} >{{ article.rubric }}</a></li>
	<li class="breadcrumb-item active d-inline-block text-truncate" style="max-width: 300px;" aria-current="page">{{ article.title }}</li>
{% endblock %}

{% block content %}
<div class='post-content'>
	<h1 class='title-article text-center my-3'>{{ article.title }}</h1>
	{% if article.image %}
	<div class="cover text-center p-3 my-3">
		{% load fb_versions %}
		<a class="lightzoom" href="{{ article.image.url }}">
			<img src="{% version article.image "article" %}" alt="{{ article.title }}">
		</a>
	</div>
	{% endif %}
	<div class='article-text'>
		{{ article.content|safe }}
	</div>
	{% if article.author %}
	<div class="row mt-3 mb-2 me-1">
			<div class='autor col-auto ms-auto '>Автор: {{ article.author }} </div>
	</div>
	{% endif %}
	<div class="row mt-2 mb-2 me-1">
		<div class="col-auto ms-auto text-center ya-share2" data-curtain data-color-scheme="whiteblack" data-limit="0" data-more-button-type="long" data-services="telegram,vkontakte,odnoklassniki,whatsapp,facebook,twitter" data-size="m"></div>
	</div>

</div>
{% endblock %}
