{% extends "layout/basic.html" %}
{% load static %}
{% block title %} {{ article.title }} {% endblock %}

{% block  open_graph %}
<meta property="og:title" content="{{ article.title }}"/>
<meta property="og:type" content="article" />
<meta property="og:url" content="{{ request.build_absolute_uri }}" />
{% if article.image %}
	<meta property="og:image" content="https://satisataka.ru/{{ article.image.url }}"/>
{% else %}
	<meta property="og:image" content="https://satisataka.ru/{% static 'main/placeholder.jpg' %}"/>
{% endif %}
<meta property="og:description" content="{{ article.description }}"/>
<meta property="og:site_name" content="Официальный сайт Введенского Храма"/>
{% endblock %}

{% block title_category %}{{ block.super }} {{ article.rubric }} {% endblock %}
{% block breadcrumbs %}
	{{ block.super }}
	<li class="breadcrumb-item active d-inline-block text-truncate" style="max-width: 300px;" aria-current="page">
		{{ article.title }}
	</li>
{% endblock %}

{% block content %}
<div class='post-content'>
	<h1 class='text-center title-article my-3'>{{ article.title }}</h1>
	<div class="row m-3">
		<time class="col-auto mx-auto time">{{ article.published|date:"H:i, d E Yг." }}</time>
	</div>
	{% if article.image %}
	<div class="cover text-center p-3 my-3">
		{% load fb_versions %}
		<a class="lightzoom" href="{{ article.image.url }}">
			<img src="{% version article.image "article" %}">
		</a>
	</div>
	{% endif %}
	<div class='article-text'>
		{{ article.content |safe }}
	</div>
	{% if article.author %}
	<div class="row mt-3 mb-2 me-1">
		<div class='col-auto ms-auto autor'>Автор: {{ article.author }}</div>
	</div>
	{% endif %}
</div>

<div class="ya-share2" data-curtain data-color-scheme="whiteblack" data-limit="0" data-more-button-type="short" data-services="vkontakte,facebook,odnoklassniki,telegram,twitter,whatsapp"></div>

</div>
{% endblock %}
