{% extends "layout/basic.html" %}
{% load static %}

{% block title %}Новости Обители{% endblock %}
{% block description %}Новости Обители - {{ rubric|join:", "|lower }}{% endblock %}

{% block og_title %}Новости Обители{% endblock %}
{% block og_type %}website{% endblock %}
{% block og_description %}Новости Обители - {{ rubric|join:", "|lower }}{% endblock %}
{% block twitter_title %}Новости Обители{% endblock %}
{% block twitter_description %}Новости Обители - {{ rubric|join:", "|lower }}{% endblock %}
{% block og_image %}{% static 'main/placeholder_news.jpg' %}{% endblock %}
{% block twitter_image %}{% static 'main/placeholder_news.jpg' %}{% endblock %}
{% block vk_image %}{% static 'main/placeholder_news_vk.jpg' %}{% endblock %}

{% block title_category %}<h1>Новости Обители</h1>{% endblock %}
{% block breadcrumbs %}{{ block.super }}{% if active_rubric.slug %}<li class="breadcrumb-item active" aria-current="page">{{ active_rubric.name }}</li>{% endif %}{% endblock %}

{% block content %}
<div class="rubrics ">
	{% if active_rubric %}
		<a class="btn btn-rubric mb-2" href="{% url 'articles:all_articles' %}" role="button">Все</a>
	{% else %}
		<span a class="btn btn-rubric disabled mb-2" role="button">Все</span>
	{% endif %}

	{% for rubric in rubric %}
		{% if active_rubric.slug == rubric.slug %}
			<span class="btn btn-rubric disabled mb-2" role="button">{{ rubric.name }}</span>
		{% else %}
			<a class="btn btn-rubric mb-2" href="{% url 'articles:rubric_articles' slug=rubric.slug %}" role="button">{{ rubric.name }}</a>
		{% endif %}
	{% endfor %}
</div>

<div class='post-content'>
	{% for article in all_articles %}
		<div class="cards row mb-3">
			{% if article.image %}
			{% load fb_versions %}
			<div class="wrapper exmp2 col-2 " style="background-image: url('{% version article.image "cover" %}');"></div>
			{% endif %}
			<div class="col ps-3 pe-2 py-2 pt-md-2 ">
				<div>
				<h5 class="rubric">{{ article.rubric }}</h5>
				<h3 class="title"><a class="title stretched-link" href="{% url 'articles:detail_article' article.rubric.slug article.slug %}">{{ article.title }}</a></h3>
				<p class="descrip lh-sm">{{ article.description }}</p>
				</div>
				<div class="mt-auto">
				<p class="pub">{{ article.published|date:"d.m.Y H:i" }}</p>
				</div>
			</div>
		</div>
	{% empty %}
	<div class="row ">
		<div class="col text-center fw-bold fs-4 mb-3 mt-2 ">
			В этой категории нет статей
		</div>
	</div>
	{% endfor %}
</div>

{% if page_obj.has_previous or page_obj.has_next %}
<div class='paginator max'>
<nav>
	<ul class="pagination pagination-sm flex-wrap">
		{% if page_obj.has_previous %}
			<li class="page-item">
				<a class="btn page-link page-next-link" href="?page={{ page_obj.previous_page_number }}">&lt; Назад</a>
			</li>
		{% endif %}
		{% for p in page_obj.paginator.page_range %}
			{% if page_obj.number == p %}
				<li class="page-item disabled">
					<span class="page-link">{{ p }}</span></li>
			{% elif p == 1 %}
				<li class="page-item"><a class="page-link" href="?page={{ p }}">{{ p }}</a></li>
				{% if page_obj.number > 4 %}
					<li class="page-item disabled"><span class="page-link page-ellipsis-link">...</span></li>
				{% endif %}
			{% elif p >= page_obj.number|add:-2 and p <= page_obj.number|add:2  %}
				<li class="page-item"><a class="page-link" href="?page={{ p }}">{{ p }}</a></li>
			{% elif p == page_obj.paginator.num_pages %}
				{% if page_obj.number|add:3 < page_obj.paginator.num_pages %}
					<li class="page-item disabled"><span class="page-link page-ellipsis-link">...</span></li>
				{% endif %}
				<li class="page-item"><a class="page-link" href="?page={{ p }}">{{ p }}</a></li>
			{% endif %}
		{% endfor %}
		{% if page_obj.has_next %}
			<li class="page-item">
				<a class="btn page-link page-next-link" href="?page={{ page_obj.next_page_number }}">Далее &gt;</a>
			</li>
		{% endif %}
	</ul>
</nav>
</div>
{% endif %}
{% if page_obj.has_previous or page_obj.has_next %}
<div class='paginator min'>
<nav>
	<ul class="pagination pagination-sm flex-wrap">
		{% if page_obj.has_previous %}
			<li class="page-item">
				<a class="page-link page-next-link" href="?page={{ page_obj.previous_page_number }}">&lt;</a>
			</li>
		{% endif %}
		{% for p in page_obj.paginator.page_range %}
			{% if page_obj.number == p %}
				<li class="page-item disabled"><span class="page-link">{{ p }}</span></li>
			{% elif p == 1 %}
				<li class="page-item"><a class="page-link" href="?page={{ p }}">{{ p }}</a></li>
			{% elif p == page_obj.paginator.num_pages %}
				<li class="page-item"><a class="page-link" href="?page={{ p }}">{{ p }}</a></li>
			{% endif %}
		{% endfor %}
		{% if page_obj.has_next %}
			<li class="page-item">
				<a class="page-link page-next-link" href="?page={{ page_obj.next_page_number }}">&gt;</a>
			</li>
		{% endif %}
	</ul>
</nav>
</div>
{% endif %}
{% endblock %}
