{% extends "layout/basic.html" %}

{% block title_category %}{% endblock %}
{% block content %}
<div class="content-container">
	<div class='container-xxl'>
		<article>

			{% for bb in bbs %}
			<div>
				<h2> <a href="{% url 'detail' pk=bb.pk %}"> {{ bb.title_and_price }}</a></h2>
				<p>{{ bb.content|safe }}</p>
				<p><a href="{% url 'by_rubric' bb.rubric.pk %}">{{bb.rubric.name}}</a></p>
				<p>{{ bb.published|date:"d.m.Y H:i:s" }}</p>
			</div>
			{% endfor %}

		</article>
	</div>

<nav>
	<ul class="pagination pagination-sm flex-wrap">
		{% if page.has_previous %}
			<li class="page-item">
				<a class="page-link page-next-link" href="?page={{ page.previous_page_number }}">&lt; Назад</a>
			</li>
		{% endif %}
		{% for p in page.paginator.page_range %}
			{% if page.number == p %}
				<li class="page-item disabled"><span class="page-link">{{ p }}</span></li>

			{% elif p == 1 %}
				<li class="page-item"><a class="page-link" href="?page={{ p }}">{{ p }}</a></li>
				{% if page.number > 4 %}
					<li class="page-item disabled"><span class="page-link page-ellipsis-link">...</span></li>
				{% endif %}

			{% elif p >= page.number|add:-2 and p <= page.number|add:2  %}
				<li class="page-item"><a class="page-link" href="?page={{ p }}">{{ p }}</a></li>

			{% elif p == page.paginator.num_pages %}
				{% if page.number|add:3 < page.paginator.num_pages %}
					<li class="page-item disabled"><span class="page-link page-ellipsis-link">...</span></li>
				{% endif %}

				<li class="page-item"><a class="page-link" href="?page={{ p }}">{{ p }}</a></li>
			{% endif %}
		{% endfor %}
		{% if page.has_next %}
			<li class="page-item">
				<a class="page-link page-next-link" href="?page={{ page.next_page_number }}">Далее &gt;</a>
			</li>
		{% endif %}
	</ul>
</nav>

{% endblock %}
