{% extends "layout/basic.html" %}
{% block title %} История {% endblock %}
{% block content %}
Деревня Рыжево расположена на возвышенной местности в северной части Егорьевского района,
примерно в 5 км к северо-востоку от города Егорьевска. В письменных источниках XVI века деревня
упоминалась как Огарево (1554 год). Но уже в XVII веке появляется название Рыжево (Рыжево, 
Огарево тож - 1646 год).
С 1763 года за деревней закрепилось название Рыжево.
После 1861 года деревня вошла в состав Нечаевской волости Егорьевского уезда Рязанской губернии.
Долгое время в деревне не было своей церкви, и Рыжево было приписано к приходу Егорьевского собора.

«Построение деревянной Введенской церкви было начато почетным московским гражданином

Семеном Иерофеевичем Майковым в 1866 году и в конце того же года окончено.

12 февраля 1867 года церковь была освящена егорьевским протоиереем А.В. Соллертинским» (1)

В 1869 году рядом с новой Введенской церковью была выстроена деревянная колокольня, с небольшими

колоколами. Затем приступили к работам по внутреннему благоустройству церкви.

В 1874 году иконостас храма был позолочен, а 1880 году вокруг церкви  возведена ограда.

Для нужд храма была выделена земля. Одна десятина для церкви и кладбища, 12десятин для пахоты,

8 десятин под луга.

                                                           В состав прихода входили деревни: Рыжево – 49 дворов, Курбатиха - 40 дворов, Костылево - 53 двора,                                                                  Орлы – 25 дворов, Палкино - 22 двора, Забелино - 29 дворов, Тоняево - 29 дворов и Некрасово – 22двора.                                                            Всего населения составляло 909 мужчин и 953 женщины. Среди них было 112 человек раскольников.                                                                  По штату в храме значились священник, дьякон и псаломщик. При церкви имелись сторожка и школа.

                                                           С 1866 года священником в церкви состоял Петр Дмитриевич Николин.

                                                           За усердное служение в храме П.Д. Николин в 1897 году был награждён камилавкой, а в 1901 году был                                                                награждён наперсным крестом, выдаваемым от Святейшего Синода.

                                                           Сын его - Иван Петрович Николин и кандидата богословия, преподавал в Вифанской Духовной                                                                            Семинарии.

                                                           Диаконом в церкви служил Добромыслов Я. А. , причетником (штатным псаломщиком) - Алексий                                                                        Дроздов. (2) Рыжево Егорьевского уезда Введенская церковь

                                                           По штату 1873 года в причте положены 1 священник и 1 псаломщик (Расписание). По штату 1885 года в                                                              причте состоят священник, диакон и псаломщик (Добролюбов. Т. IV. с. 404).

                                                           

 

 

 

 

 

Священники

 1873–1894 – Николин Петр Димитриев (по штату 1873 – настоятель прихода)

 Штатные диаконы

 1885–1894 – Добромыслов Иаков

 Исправляющие должности псаломщиков (1873–1885 годы)

 1873–1885 – Добромыслов Иаков, причетник, диакон (1877) (по штату 1873 –штатный)

 Штатные псаломщики (с 1885 года)

 1885–1894 – Дроздов Алексий

 Сверх штата

 1873-1885 – Дроздов Алексий, пономарь (по штату 1873 – сверхштатный)» 3

«Николин Петр Димитриев Священник села Рыжево Егорьевского уезда (с 1866 г.).

Награжден набедренником (1873/74, №12, №14).

Утвержден духовником во 2-м благочинническом округе Егорьевского уезда (1886, №13)»4

В 1912 году священником в храме служил Петр Александрович Смирнов, проживавший в Егорьевске на Набережной улице в собственном доме.

​

 

                                                                 После революции храм оставался действующим, однако в 1921 году церковь сгорела, и на ее месте в                                                                    том же году был построен новый храм, который также сгорел в 1923 году. В 1927 году прихожане                                                                        села Рыжева нашли богатого мецената -бывшего фабриканта и торговца Собакина, который помог им                                                                   выкупить бесхозную церковь Петра и Павла из подмосковного поселка Люблино взамен сгоревшей.

                                                                 Президиумом Мосгубисполкома был рассмотрен вопрос о передаче церкви в село Рыжево                                                                                     Егорьевского уезда Рязанской губернии для возведения на месте сгоревшей. Со стороны Президиума                                                                   Моссовета препятствий не встретилось, лишь было выдвинуто требование сохранить прежние                                                                             размеры и формы архитектуры. 18 августа 1927 года сотрудник Административного отдела МУИК'а

                                                                 Кочетков произвел передачу здания храма в поселке Люблино уполномоченным религиозной                                                                                общины при селе Рыжево. Церковь перевезли, собрали заново и, сохраняя посвящение сгоревшей                                                                        церкви,переосвятили в честь Введения Пресвятой Богородицы во Храм. Отдельно от церкви была

                                                                 построена колокольня. Вокруг храма расположено старинное кладбище. Сохранились чертежи, выполненные в том же 1927 году, архитектором Н.Д. Виноградовым: генеральный план кладбища села Рыжево и разрез церкви села Рыжево.

​

​

​

​

​

​

​

​

​

​

​

​

​

​

​

​

                                              

                                       Архитектор Николай Дмитриевич Виноградов (1885-1980 гг.) с 1918 года руководил комиссией по охране                                                            памятников в Наркомате имуществ республики, был ответственным за выполнение в Москве                                                                                плана монументальной пропаганды и председателем секции ИЗО Моссовета.  Виноградов стал инициатором                                                      обследования городской застройки для выявления ценных деревянных зданий, число которых составило почти                                                  500, и в 1921 году организовал выставку «Уходящая деревянная Москва».

                                       В 1926 году архитектор создал при общественной комиссии «Старая Москва» секцию выявления и регистрации                                                архитектурных памятников и руководил секцией до 1928 года.

                                      Перевезённая в Рыжево деревянная церковь была сооружена по типовому проекту архитектора Н.А. Шохина                                                    для Политехнической выставки, проходившей в 1872 году на территории Александровского сада, 

Манежа и Кремлевской набережной.  Русский архитектор и реставратор, действительный статский советник

Николай Александрович Шохин родился в 1819 году. Получил воспитание в Архитектурном училище ведомства Московской дворцовой конторы, в котором находился с 1832 по 1840 гг. По окончании курса со степенью архитектурного помощника 3 класса

H. A. Шохин поступил на службу в Дворцовую контору, где непрерывно прослужил до 1885 г., то есть 45 лет, закончив свою службу

должностью старшего архитектора и начальника чертежной. Во время своей продолжительной

службы по Дворцовому ведомству H. A. Шохин принимал участие по устройству и приспособлению зданий

к коронациям в 1856 и 1883 гг., произвел чрезвычайно трудную в техническом отношении реставрацию

Малого Николаевского двореца, реставрировал также Потешный дворец, Троицкая башня, Грановитая палата

и некоторые башни кремлевских стен. Он же произвел реставрацию церковь Вознесения в с. Коломенском

и составил проект дворца в том же с. Коломенском, удостоенный премии. За свои работы в разное время

H. A. Шохин  удостаивался Высочайших наград и ценных подарков. Кроме службы в Дворцовом ведомстве,

H. A. Шохин состоял архитектором Воспитательного дома, секретарем Пречистенского

попечительства о бедных, архитектором Александровского сиротского кадетского корпуса, почетным

членом Московского совета детских приютов и почетным членом Братолюбивого общества.

В последнем обществе состоял членом почти с самого его основания и своей деятельностью принес большую

пользу обществу. Оставаясь всю жизнь холостым, он большую часть своих сбережений употреблял на

благотворительные дела и, между прочим, на свои средства построил два дома в пользу

Братолюбивого общества для дешевых квартир, а именно: один своего имени, а другой имени

княгини Н. Б. Трубецкой. Кроме того, его заботами и при его материальном содействии был также перестроен

бывший вице-губернаторский дом на Плющихе, назначенный также для дешевых квартир.

H. A. Шохин пользовался общим уважением среди московских архитекторов, и как член-учредитель Московского

архитектурного общества избран был в 1872 г. председателем общества. Затем, в том же обществе, за заслуги в области строительного

дела H. A. Шохин был избран в почетные члены.

В 1864 г. H. A. Шохин был удостоен звания почетного вольного общника Императорской Академии Художеств.

Кроме своих служебных обязанностей, покойный H. A. Шохин с 1872 г. много труда посвятил устройству бывшей в то время Политехнической выставки и возникавшему Политехническому музею. На выставке им был устроен специальный архитектурный отдел,

в котором, между прочим, обращала на себя внимание разборная церковь, находящаяся в настоящее время в Люблине близ Москвы, а модель ее — в архитектурном отделе музея. Как член комитета Политехнического музея H. A. Шохин принимал самое близкое участие в устройстве здания музея на Лубянской площади, которое воздвигалось по его плану и под его наблюдением. При постройке второго корпуса музея H. A. Шохин состоял председателем строительной комиссии от комитета музея. Самая крупная заслуга H.A. Шохина перед Москвой и музеем — это устройство им в музее специального архитектурного отдела, имеющего большое учебное значение в строительном искусстве. H. A. Шохин как директор отдела обогащал его разными коллекциями и развивал в течение 23 лет. Сознавая

отсутствие в Москве каких-либо наглядных пособий по строительному делу, он дал отделу учебно-архитектурное направление, положив в основание серьезно выработанную им программу. Благодаря заботам и примерной деятельности H.A. Шохина при отделе устроена также специальная архитектурная библиотека, которая служит теперь для общего пользования как источник теоретического изучения

строительного дела. Для основания библиотеки H. A. Шохин пожертвовал музею собственную библиотеку, ценную как по своему составу, так и по материальной стоимости. В заключение нельзя не упомянуть о главнейших печатных трудах H.A. Шохина в области строительного искусства, а именно им изданы: "Сборник очерков старинных построек", "Нормальная расценка на строительные работы" и перед самой кончиной — "Историческая записка о реставрации Малого Николаевского кремлевского дворца в Москве". Мир праху примерного и честного труженика! ("Московские Ведомости", 1895, № 342). Библиография о нем: "Новое Время", 1895, № 7108. Шохин, Николай Александрович (23. 08. 1819 — 07. 12. 1895, Москва)»6

Скончался Николай Александрович  7 декабря 1895 г. на 76 году жизни в Москве,  похоронен на Дорогомиловском кладбище.  

В 1940 году в связи с ликвидацией  кладбища прах Н.Д. Шохина перезахоронен на Востряковском кладбище, участок № 3.

В октябре 1870 года комитет по устройству Политехнической выставки признал полезным создать отдел, который должен был показать применение технических новшеств, призванных удовлетворить бытовые потребности небогатых людей. В этом отделе, позднее получившем название отдела сельского домоводства, предложено было поставить деревянную сельскую церковь в натуральную величину, сельскую школу, больницу и усадебный дом. Постройка церкви должна была продемонстрировать, как можно сделать это без архитектора, а лишь с хорошим подрядчиком, десятником или большаком и, вместе с тем, как осуществить затею в формах, способствующих вытеснению уродливых построек. Созданием каждого строения стала заниматься своя частная комиссия. Первоначально предполагалось провести конкурс на лучший проект, однако из-за нехватки премиальных средств и недостатка времени он был отменен.

В связи с этими обстоятельствами для возведения сельской церкви комиссия обратилась

к старшему архитектору дворцового ведомства Николаю Александровичу Шохину,

который был в ту пору одним из членов комитета Политехнической выставки и занимался

обустройством ее архитектурного отдела. Шохин принял предложение и в апреле 1871 года

оценил строительные работы в 8-9 тысяч рублей. По рисункам архитектора и под его личным

наблюдением постройка была успешно завершена. Церковь была поставлена во втором

Александровском саду недалеко от Боровицкой башни. Церковь была спроектирована

Шохиным в виде разборного сруба из брусьев, перекрытого шатром, и украшена кокошниками.

Она стала смысловым центром отдела сельского домоводства и являлась своеобразным
выставочным павильоном. "Церковь, чрезвычайно изящная по архитектуре,

построена на горе, над гротом, в котором камни заменяют древесные корни; среди их вьется

плющ; около грота, на скате горы, из живых цветов устроена эмблема, изображающая веру,

надежду и любовь. Церковь с хорами, звонницею и 29 двумя крыльцами, вмещает до

200 человек; в ней стены и своды из брусьев; все части храма удобно разбираемы,

не раскрывая и не повреждая даже листового железа на крышах и главах. В церкви сохранены

простота и характер, соответствующий православной русской сельской церкви; иконостас,

утварь, парчи и прочие церковные вещи исполнены в русском вкусе, по рисункам

архитектора Н. А. Шохина"(7).
                                                                          Убранство в церкви было от самых лучших

                                                                           отечественных фирм: парчу и облачения поставляли Сапожниковы, серебро – Хлебников, а                                                                                    иконы написали палехские мастера. «Из предметов утвари, выставленных внутри церкви,                                                                                     заслуживает внимания модель разборной деревенской часовни для выноса умерших и в

                                                                          видах предосторожности против погребения мнимоумерших»8 За составление проекта                                                                                          сельского православного храма и за применение при его постройке разборной брусной системы

                                                                         Н.А. Шохин был удостоен Большой золотой медали. Во вновь созданном Политехническом                                                                                    музее была представлена модель этой церкви (см. рис. 13).

 

 

 

 

 

 

 

 

 

 

 

Кроме здания церкви архитектором были спроектированы и другие выставочные постройки.

​

​

​

​

​

​

​

​

​

​

​

​

​

​

​

​

​

​

​

​

​

Церковь выстроенная по проекту архитектора Шохина. Эта постройка расположена

на выставке на самой возвышенной местности, окруженной со стороны церкви дорожками,

лестницами с площадками, украшенной гротом и диким камнем, усеянной цветами.

Все это вместе с церковью миловидной архитектуры, представляет нечто интересное,

приятное дли глаз. 

Снаружи церковь расписана масляной краской и орнаментирована с большим вкусом;

внутренняя же её отделка не вполне соответствует наружной: она уже слишком скромна:

гладкие стены, без всякого украшения, не покрыты даже краской, только края проемов

боковых частей, там, где обыкновенно помещаются наличники и архивольты, выкрашены по

трафарету, да карниз расписан красками. Как кажется, архитектор не успел окончить

внутренней отделки. Иконостас очень недурен; в нем резная работа на царских дверях

заменена цементными накладными украшениями, которые потом окрашены и покрыты

позолотой. Полы простые, из деревянных досок; двери покрыты прямо по дереву белым лаком.

Здесь же применены модели печей Быкова, служащих для отапливания церкви; подсвечники

токарной работы из дерева и литые — стеклянные; паникадила — одно деревянное, другое

из кованого железа, окрашенного яркими красками. Замечательно также предполагаемое

устройство главного креста и шара: на простой деревянный крест, покрытый фольгою, надет

стеклянный, пустой внутри крест, и внизу расположен стеклянный же шар, обложенный

внутри тоже фольгою. Очевидно, архитектор искал средства дорогие металлические

позолоченные кресты заменить более дешевыми. Неизвестно, окажется ли предложенный

способ применимым на практике, и выдержит ли стекло сотрясения от ветра,

но мысль — заменить металлическую поверхность стеклом с фольговой подкладкой,

во всяком случае, остроумна и выполнима, особенно при плоской форме креста.

В.Куроедов (из «Обзора политехнической выставки в Москве»)9

После закрытия выставки в сентябре 1872 года церковь была выкуплена купцами

К. Голофтеевым и П. Рахманиным для своего имения Люблино, причем,

вместе с «образцовыми» деревянными домиками для дач, тоже исполненным в русском стиле,

что гармонировало с храмом. 

Известный коммерсант, купец 1 -й гильдии Конон Никонович Голофтеев (1822-1896), был

почетным попечителем школы садоводства. Вместе со своим компаньоном и родственником

Петром Николаевичем Рахманиным держал фирму "К. Голофтеев и П. Рахманин",

занимавшуюся торговлей "модным дамским товаром", оба они являлись владельцами усадьбы

Люблино, которую Голофтеев  купил у Н.П. Воейкова. «Приобретенную на выставке церковь

поставили восточнее «господского дома» и освятили во имя святых Петра и Павла,

по именинам Рахманина. Престольный праздник приходился в разгар дачного сезона, и

церковь не имела собственного причта, будучи приписанной к Влахернскому храму

в Кузьминках: священник служил в летние праздники для дачников, а зимой храм был закрыт.

Вскоре Рахманин умер, и Голофтеев стал единовластным хозяином Люблино.

Отныне его дом называли «Голофтеевой дачей». (10)

После смерти старшего Голофтеева в 1896 году владельцем имения стал его сын Николай

Кононович (1847 – не ранее 1904), потомственный почетный гражданин, московский

купец 1 -й гильдии, статский советник. Вместе с женой он продолжил дачную историю

Люблина. Благодаря близости к городу, живописным историческим местам, наличию прудов с
комфортными купальнями дачи никогда не пустовали.

«..После сооружения Московско-Курской железной дороги Люблино стало одним из самых

лучших и дорогих мест отдыха, так что рядом с усадьбой появился целый дачный поселок под названием Новый. Но

скаредность хозяев – Люблино уже перешло к сыну Голофтеева Николаю Кононовичу – стала

причиной заката люблинского «дачного сезона».

​

​

​

​

 

​

​

​

​

​

​

​

​

 

 Здесь дорожили каждым клочком земли, ставили домики вплотную друг к другу и даже на таких «голых» участках, которые не годились для дачного отдыха. К тому же в конце XIX века по соседству устроили городские «полорошения», что многих оттолкнуло от «люблинского рая». А в июне 1904 года страшный ураган уничтожил многие дома, рощу и пруд с карасями. Газеты утверждали, будто за одни только поваленные в парке деревья Голофтееву предложили сто тысяч рублей. А легкая, но прочная церковь устояла, хотя деревья рядом были выворочены с корнем»(11).
 

​

​

​

​

​

​

​

​

​

​

​

​

​

Церковь Петра и Павла была летней. В связи с ростом населения поселка, вскоре после революции для зимних служб обитатели Люблина устроили новый теплый молитвенный дом на 200 человек, использовав под него здание местного питейного заведения.(13)
В 1918 году церковь стала самостоятельной – местными жителями был создан постоянный приход Петропавловского храма, отделенный

от Влахернского храма в Кузьминках. В это время в церкви служили священник Александр Иванович Ремов и диакон Владимир Доримедонтович Федоров. А.И.Ремов возглавил религиозную общину Петропавловского храма 21 февраля 1919 года.
27 апреля 1922 года Московской Уездной Комиссией из церкви были изъяты серебряные кресты, чаши, лампады и прочая мелкая

утварь - всего 33 предмета общим весом 16 фунтов 6 золотников. 14 «Из церкви села Люблино опись места изъяты

”Кресты серебряные – 3 (1крест с 6-ю камнями), чаши серебряные – 2, оправы с 2-х Евангелий - 14, крышки от Евангелий – 1,
дарохранительница – 1, лампад с цепями – 2, ложки –2, звездица – 1, дискос –2, тарелки – 2, венцы – 3». (15)

                                                                             Летом 1923 года Люблинский горсовет занялся судьбой храма. 16 марта 1924 года                                                                                                    заведующим церковным столом управления милиции Московского уезда т. Черниным

                                                                             храм был опечатан. Учитывая требования рабочих и мастеровых служб Московско-Курской

                                                                             железной дороги и постановление ячеек РКП и РКСМ о ликвидации храма, горсовет принял                                                                                  решение о передаче его под комсомольский клуб, что было утверждено президиумом                                                                                              Моссовета 7 апреля 1924 года.16 В апреле для осмотра церкви, с лета 1923 года состоящей

                                                                             под охраной Музейного отдела, в Люблино прибыли представители Мосгубмузея -

                                                                             архитектор Н.А.Всеволожский (ученик Н.Д. Виноградова) и художник

                                                                             М.А.Маркичев, которые сделали следующее заключение: «Снаружи храм очень живописен и                                                                                для характеристики творчества Ропета и его бесчисленных

                                                                             последователей очень показателен, являясь почти единственным

                                                                             образцом. Храм представляет в плане квадрат, перекрытый

рубленым шатром. Снаружи на гранях шатра поставлены четыре кокошника с окнами внутрь храма. К основному

квадрату храма примыкает удлиненный притвор, на крыше которого расположена небольшая звонница с главкой и

четырьмя колоколами. С трех сторон храма - высокие крыльца. Внутри храма двухъярусный иконостас, хорошо

скомпонованный в стиле храма с хорошо написанными современными храму иконами. Слева от иконостаса складно

прилаженная винтовая деревянная лесенка ведет на уютные хоры. В общем, храм оставляет цельное впечатление,

напоминая небольшие домовые церкви. Все в нем обдумано, связано и выдержано.

Состояние храма плохое и требует немедленного применения к нему средств и сил. Все крыльца в плохом

состоянии, точеные балясины вываливаются, ступени перекосились и обветшали. Со стен, обшитых в целях
сохранения их от влаги или для утепления листовым железом, краска лупится и большие потемневшие ржавые пятна проступают со всех сторон. Раскраска чешуйчатой крыши и резных карнизов, сандриков и наличников также закудрявилась, осыпается и требует полного возобновления. Крыша проржавела и протекает во многих местах. Ни одного стекла не уцелело, кроме окон в кокошниках шатра.

Внизу сейчас окна закрыты деревянными щитами, поставленными недавно прихожанами»(17).
«В то же время верующие продолжали считать опечатывание храма всего

лишь временным недоразумением. Они обратились к властям с просьбой открыть храм

к приближающейся Пасхе, поскольку молитвенный дом не смог бы вместить всех

желающих. Вполне возможно, как иногда бывало, что ходатайство было удовлетворено

и храм еще некоторое время действовал. Но в конце концов дело дошло до ВЦИК'а,

который не нашел оснований для пересмотра постановления Моссовета.

В споре была поставлена последняя точка.

В мае 1926 года был заключен очередной договор между помощником начальника

милиции и Петропавловской общиной, официально насчитывавшей 65 человек [16].

Однако, договор уже мало касался шохинского храма, которому была уготована

необычная судьба.

В 1927 году Президиум Мосгубисполкома рассмотрел вопрос о передаче церкви

в село Рыжево Егорьевского уезда Рязанской губернии для возведения на месте сгоревшей. Со стороны Президиума Моссовета
препятствий не встретилось, лишь было выдвинуто требование сохранить прежние размеры и формы архитектуры. 18 августа 1927 года сотрудник Административного отдела МУИК'а Кочетков произвел передачу здания храма в поселке Люблино уполномоченным религиозной общины при селе Рыжево. Так в Московском уезде стало на один храм меньше».(18)

Вплоть до 1927 года, пока церковь не была перевезена в село Рыжево, здание ее подвергалось постепенному разрушению, интерьеры
уничтожались, в алтарной части активисты устроили "уголок безбожника". После разборки и вывоза Петропавловского храма в Рыжево

на его месте устроили футбольное поле.

 

 

 

 

 

 

 

 

 

 

 

 

 

 

 

После того, как церковь была перевезена в Рыжево, она не закрывалась.

До 1949 года настоятелем храма служил протоиерей Василий Николаевич Митродоров (1893-1949),

затем - протоиерей Борис Николаевич Садовников (1886-1956).

С апреля 1956 года на протяжении 44 лет настоятелем в храме служил протоиерей Алексий Лебедев.

С 27 января 1998г настоятелем храма является игумен Феофан (Кузнецов)
{% endblock %}