{% extends "layout/basic.html" %}
{% block title %} История {% endblock %}
{% block title_category %}{{ block.super }} История {% endblock %}
{% block content %}
<div class="post-content">
	<div class="post-caption">
		<h1 class="text-center">ВВЕДЕНСКИЙ ХРАМ В СЕЛЕ РЫЖЕВО<br>  ОДНА ИЗ ЖЕМЧУЖИН БОГОРОДИЦЫ </h1>
	</div>
	<div class="row">
		<div class="col-10 offset-1">
			<figure>
				<blockquote>
				"Вводится Девица в храм по ступеням,<br>
				Сверстницы-девушки идут за ней.<br>
				Зыблется свет от лампадных огней.<br>
				Вводится Девица в храм по ступеням…"<br>
			-Михаил Кузмин
				</blockquote>


				Вводится Девица в храм по ступеням,
				Сверстницы-девушки идут за ней.
				Зыблется свет от лампадных огней.
				Вводится Девица в храм по ступеням…
								Михаил Кузмин

 Современному человеку трудно понять, почему вот уже более двух тысячелетий Православная Церковь каждый год напоминает нам о том, как трехлетняя Дева Мария вошла в храм? Какое отношение это событие имеет к судьбам всего человечества? Как Её могли впустить в храм, если по закону кроме священников в него никто не имел права входить? Загадочно само название праздника: «Введение». По преданию Она Сама поднялась по ступенькам и вошла. А ввел Ее Сам Господь Бог для того, чтобы пребывание в храме очистило Деву от всякой нечистоты мира, приготовило к тому, чтобы Она могла стать Вместилищем Невместимого Бога…
 В память об этом событии на нашей егорьевской земле жителями села Рыжево в 1866 году началось строительство деревянной церкви…


		</div>
	</div>
</div>
{% endblock %}
