{% load static %}

<div class="mx-auto logo-foot">
	<h6 class="text-uppercase mb-2 px-4">
		<a href="{% url 'main:index' %}"><img src="{% static "main/logo.svg" %}" class="img-fluid" alt="Логитоп Введенского Храма"></a>
	</h6>
</div>
<div class="text-center soсial-net mb-2">
	<a href="https://vk.com/schoolgorlitsa" target="_blank"><i class="fab fa-vk mx-1"></i></a>
	<a href="https://www.instagram.com/ryzhevohram/" target="_blank"><i class="fab fa-instagram mx-1"></i></a>
</div>
<div class="text-center px-4">
	<p class="my-1"> <i class="far fa-envelope mx-1"></i><a href="mailto:feofan@tafos.ru" class="text-reset">feofan@tafos.ru</a></p>
	<p class="my-1"> <i class="fas fa-map-marker-alt mx-1"></i> Россия, 140342, Московская обл., Егорьевский район, дер.Рыжево, д.25Б </p>
	<p class="my-1"> <i class="far fa-copyright mx-1"></i>2022 Официальный сайт Храма в честь Введения во храм Пресвятой Богородицы </p>
</div>
