{% extends "layout/basic.html" %}

{% block title %}{{ active_menu.name }}{% endblock %}
{% block description %}{{ active_menu.description }}{% endblock %}

{% block og_title %}{{ active_menu.name }}{% endblock %}
{% block og_type %}website{% endblock %}
{% block og_description %}{{ active_menu.description }}{% endblock %}
{% block twitter_title %}{{ active_menu.name }}{% endblock %}
{% block twitter_description %}П{{ active_menu.description }}{% endblock %}

{% block title_category %}<h1>{{ active_menu.name }}</h1>{% endblock %}
{% block content %}
<div class='post-content mt-3'>
	{% for item in menu_items %}
		<div class="cards row mb-3">
			{% if item.image %}
			{% load fb_versions %}
			<div class="wrapper exmp2 col-2 " style="background-image: url('{% version item.image "cover" %}');"></div>
			{% endif %}
			<div class="col px-3 py-3 py-md-2 ">
				<div>
				<h3 class="ms-1 title"><a class="title stretched-link" href="{{ item.slug }}/">{{ item.title }}</a></h3>
				<p class="descrip lh-sm">{{ item.description }}</p>
				</div>
			</div>
		</div>
	{% empty %}
	<div class="row ">
		<div class="col text-center fw-bold fs-4 mb-3 mt-2 ">
			В этой категории нет статей
		</div>
	</div>
	{% endfor %}
</div>
{% endblock %}

{% block content_2 %}
{% endblock content_2 %}
